<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Post</h1>
    
       <%for(post of posts){%>
        <div class="class">
        <p>id :<%=post.id%></p>
        <p>username : @<%=post.username%></p>
        <p><%=post.content%></p>
        <a href="http://localhost:8080/posts/<%=post.id%>">See Post</a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
        <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
        </div>
        <%}%>
    
    <a href="http://localhost:8080/posts/new">create new post</a>
</body>
</html>